.body-wrapper {
  height: 100vh;
  width: 100vw;
  perspective: 1000;
  overflow-x: hidden;
}

.header.dashboard-header {
  min-height: 72px;
  background-color: #fdfdfd;
  box-shadow: 0 0 4px 0px rgba(0, 0, 15, 0.2);
  color: #444;
  padding: 10px 25px 10px 25px;
  flex-shrink: 0;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e4e4e4;
}

.header-logo {
  font-size: 24px;
  margin-right: 40px;
  .dark-grey {
    color: #555;
  }
}

.green-txt {
  color: #49b327;
  text-shadow: 0.1px 0;
}

.body-content {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.body-content.dashboard-pg {
  background-color: #f8f8f8;
  padding: 8px 28px;
}

.user-dropdown-wrap {
  bottom: 0;
  transform: translateY(calc(100% + 14px));
  background: #fff;
  z-index: 2;
  right: 0;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  min-width: 240px;
  border-radius: 2px;
}

.user-details {
  padding: 9px 16px;
  border-bottom: 1px solid #ccc;
  color: #555;
  font-size: 13px;
  line-height: 1.6;
  cursor: default;
}

.each-dd-row {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  transition: 0.2s ease;
  cursor: pointer;
}

.each-dd-row:hover {
  background: #f3f3f3;
}

.user-initials {
  letter-spacing: 1px;
  font-size: 15px;
  user-select: none;
}

.profile-head {
  height: 38px;
  width: 38px;
  color: #0e5611;
  border: 2px solid #0e5611;
  border-radius: 19px;
  cursor: pointer;
}

.each-dd-row.active {
  background: #0e5611;
  color: #fff;
}

.profile-pic {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  right: 8px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.arrow_box:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 9px;
  margin-left: -9px;
}

.profile-head.active {
  background: #f3f3f3;
}

.my-performance-wrap {
  padding: 16px 8px;
  position: relative;
  .button {
    margin: 8px 0px 8px 12px;
  }
}

.border-bottom {
  border-bottom: 1px solid #e3e3e3;
}

.page-subheader {
  padding-bottom: 20px;
  color: #333;
  font-size: 18px;
}

canvas {
  width: 100%!important;
  height: 100%!important;
}

.graph-wrap {
  height: 340px;
}

.slot-wrapper {
  height: 20px; // overflow: hidden;
  background: #eee;
  display: flex;
}

.ngx-datepicker-container .ngx-datepicker-calendar-container {
  left: 50%!important;
  transform: translateX(-50%);
  z-index: 2;
}

.ngx-datepicker-container .ngx-datepicker-input {
  color: #464646;
}

.apply-leave {
  .subhead-txt {
    padding-bottom: 8px;
  }
}

.scheduled-slot {
  top: 0;
  bottom: 0;
  left: 0%;
  transition: 0.3s ease;
  width: 0%;
  background: #53b42d;
  z-index: 1;
  cursor: pointer;
  border: 2px solid #53b42d;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
  text-shadow: 0.2px 0;
}

.scheduled-slot.active {
  border: 2px solid #3b831e;
}

.each-hour {
  border: 0.5px solid #dcdcdc;
}

.time-wrapper {
  width: 100%;
  height: 12px;
  display: flex;
  font-size: 8px;
  color: #666;
}

.time-txt {
  top: 4px;
  left: 0;
  transform: translateX(-50%);
}

.last-time-txt {
  top: 4px;
  right: 0;
  transform: translateX(50%);
}

.half-width {
  width: 50%;
}

.client-schedule-wrap {
  padding: 24px 12px 24px;
}

.subhead-txt {
  text-shadow: 0.2px 0;
  padding-right: 18px;
  min-width: 140px;
  line-height: 1.4;
}

.each-client {
  padding: 8px 0px;
}

.selected-tag {
  transform: translate(-50%, -140%);
  top: 0;
  left: 50%;
  color: #3c3c3c;
  position: absolute;
  font-size: 9px;
  letter-spacing: 0.6px;
}

.legend-box {
  width: 20px;
  height: 16px;
  background: #8abfae;
  margin-right: 8px;
  border: 1px solid #a8a8a8;
}

.each-legend {
  padding: 0 10px;
}

.legend-label {
  font-size: 11px;
  color: #444;
}

.legends-wrap {
  padding-top: 14px;
}

.subtext-desc {
  line-height: 1.4;
  color: #222;
  font-size: 14px;
}

.tabs-wrap {
  padding: 14px 0;
}

.each-tab {
  padding: 2px;
  color: #676767;
  border-bottom: 2px solid #0e561100;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
  text-align: center;
}

.each-tab.active {
  border-bottom: 2px solid #0e5611;
  color: #0e5611;
  text-shadow: 0.2px 0;
}

.client-carousel-wrap {
  height: 100%;
  transition: 0.3s ease;
}

.each-client-carousel {
  width: 100%;
  padding: 8px 28px;
}

.client-carousel-content {
  overflow: auto;
  padding: 0px 12px;
}

.each-client-row {
  min-height: 100px;
  background: #fff;
  border-radius: 2px;
  margin: 10px 0;
  flex-shrink: 0;
  border: 1px solid #eee;
  padding: 12px 15px;
  flex-flow: wrap;
  display: flex;
  align-items: center;
}

.client-name {
  padding: 4px 3%;
  width: 50%; // min-height: 40px;
}

.button {
  color: white;
  background: #0e5611;
  padding: 7px 8px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 120px;
}

.dark-red.button {
  background: darkred;
}

.dark-blue.button {
  background: #132790;
}

.btn-left {
  padding-right: 8px;
}

.add-client-pop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 72vw;
  margin: auto;
  height: 66vh;
  z-index: 6;
  background: #fafafa;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  max-width: 767px;
  max-height: 767px;
  .button-wrap {
    padding: 14px 30px;
  }
  .subhead-txt {
    padding-bottom: 8px;
  }
}

.privacy-content {
  overflow: auto;
}

.profile-header-wrapper {
  padding-top: 6px;
  align-items: flex-start;
  .page-subheader {
    padding-top: 8px;
  }
}

.profile-details-wrap {
  .subhead-txt {
    padding-bottom: 8px;
  }
}

.input input.disabled {
  background: #ededed;
  color: #666;
}

.add-slot-wrap {
  // min-height: 300px;
  .subhead-txt {
    padding-bottom: 8px;
  }
}

.ngx-dorpdown-container {
  margin-bottom: 24px;
}

.sibling-inputs input {
  margin-left: 8px;
}

.sibling-inputs input:first-child {
  margin-left: 0px;
}

@media only screen and (max-width: 767px) {
  .time-wrap:nth-child(even) {
    visibility: hidden;
  }
  .client-name {
    width: 100%;
    padding: 4px 10px;
    flex-flow: wrap;
  }

  .body-content.dashboard-pg, .each-client-carousel {
  	padding: 8px 16px;
  }

}

@media only screen and (max-width: 992px) {
  .half-width {
    width: 100%;
  }
}
