.body-wrapper {
  height: 100vh;
  width: 100vw;
  perspective: 1000;
  overflow-x: hidden;
}

.header.dashboard-header {
  min-height: 72px;
  background-color: #fdfdfd;
  box-shadow: 0 0 4px 0px rgba(0, 0, 15, 0.2);
  color: #444;
  padding: 10px 25px 10px 25px;
  flex-shrink: 0;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e4e4e4;
}

.header-logo {
  font-size: 24px;
  margin-right: 40px;
  .dark-grey {
    color: #555;
  }
}

.green-txt {
  color: #49b327;
  text-shadow: 0.1px 0;
}

.body-content {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.body-content.dashboard-pg {
  background-color: #f8f8f8;
  padding: 8px 28px;
}

.user-dropdown-wrap {
  bottom: 0;
  transform: translateY(calc(100% + 14px));
  background: #fff;
  z-index: 2;
  right: 0;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  min-width: 240px;
  border-radius: 2px;
}

.user-details {
  padding: 9px 16px;
  border-bottom: 1px solid #ccc;
  color: #555;
  font-size: 13px;
  line-height: 1.6;
  cursor: default;
}

.each-dd-row {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  transition: 0.2s ease;
  cursor: pointer;
}

.each-dd-row:hover {
  background: #f3f3f3;
}

.user-initials {
  letter-spacing: 1px;
  font-size: 15px;
  user-select: none;
}

.profile-head {
  height: 38px;
  width: 38px;
  color: #0e5611;
  border: 2px solid #0e5611;
  border-radius: 19px;
  cursor: pointer;
}

.each-dd-row.active {
  background: #0e5611;
  color: #fff;
}

.profile-pic {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  right: 8px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.arrow_box:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 9px;
  margin-left: -9px;
}

.profile-head.active {
  background: #f3f3f3;
}

.my-performance-wrap {
  padding: 16px 8px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

.page-subheader {
  padding-bottom: 28px;
  color: #333;
  font-size: 18px;
}

canvas {
  width: 100%!important;
  height: 100%!important;
}

.graph-wrap {
  height: 340px;
}

.slot-wrapper {
  height: 20px;
  overflow: hidden;
  background: #eee;
  display: flex;
}

.ngx-datepicker-container .ngx-datepicker-calendar-container {
  right: 0;
  left: initial!important;
  z-index: 2;
}

.ngx-datepicker-container .ngx-datepicker-input {
  color: #464646;
}

.scheduled-slot {
  top: 0;
  bottom: 0;
  left: 20%;
  transition: 0.3s ease;
  width: 8%;
  background: #53b42d;
  z-index: 1;
  cursor: pointer;
  border: 2px solid #53b42d;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
  text-shadow: 0.2px 0;
}

.scheduled-slot.active {
  border: 2px solid #3b831e;
}

.slot-wrap {
  min-height: 300px;
}

.each-hour {
  border: 0.5px solid #dcdcdc;
}

.time-wrapper {
  width: 100%;
  height: 12px;
  display: flex;
  font-size: 8px;
  color: #666;
}

.time-txt {
  top: 4px;
  left: 0;
  transform: translateX(-50%);
}

.last-time-txt {
  top: 4px;
  right: 0;
  transform: translateX(50%);
}

.half-width {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .time-wrap:nth-child(even) {
    visibility: hidden;
  }
}

@media only screen and (max-width: 992px) {
  .half-width {
    width: 100%;
  }
}
