<div class='flex flex-col body-wrapper relative'>
  <header class='header flex flex-align-center flex-between'>
    <!-- <img height='32px' src='assets/icon/portal-logo.png'> -->
    <div class='flex flex-align-center flex-grow'>
      <div class='header-logo'>
        <span class='green-txt'>Learn</span><span class='dark-grey'>Skills</span>
      </div>
      <div class='flex flex-grow flex-align-center main-ip'>
        <input type='text' placeholder='Search for courses'>
      </div>
    </div>
    <div class='flex flex-align-center header-links-wrap'>
      <div class='header-links' (click)="scrollTo('_courses')"> Courses
      </div>
      <div class='header-links' (click)="scrollTo('_about')"> About Us
      </div>
      <div class='header-links' (click)="scrollTo('_contact')"> Contact Us
      </div>
      <div class='header-links blue-txt' (click)='sidebarState=1;'> Login
      </div>
    </div>
  </header>
  <div class='body-content relative flex flex-col'>
    <section class='top-section flex flex-col flex-align-center fixed-bg' id='_top'>
      <div class='top-section-txt-wrap flex flex-col flex-center no-padding hide-overflow'>
        <div class='relative'>
          <div class='absolute left-chevron' (click)="carouselShift('left')">
            <img src='assets/icon/chevron-white.svg'>
          </div>
          <div class='absolute right-chevron' (click)="carouselShift('right')">
            <img src='assets/icon/chevron-white.svg'>
          </div>
          <div class='flex flex-align-center transition' [ngStyle]="{'transform': 'translateX(' + -100 * percent + '%)'}">
            <div class='header-txt full-width center' *ngFor='let text of headerTexts'>{{text}}</div>
          </div>
        </div>
        <div class='header-desc center'>Explore the lorem ipsum of magna orci, cursus eu urna nec, ultricies venenatis ex. Maecenas tempus pharetra risus, eu porta arcu gravida vitae. Donec accumsan gravida leo eget lacinia. Vivamus eu tristique lorem, sed tincidunt velit. Aliquam malesuada neque et sapien malesuada placerat nec ut libero.</div>
      </div>
    </section>
    <section class='flex flex-col best-selling-courses no-shrink'>
      <div class='sectional-header flex no-shrink'>Best Selling Courses</div>
      <div class='flex flex-grow best-courses-wrap no-shrink'>
        <div class='flex flex-col each-course'>
          <div class='courses-container flex-grow relative star-ratings flex-between flex flex-col'>
            <div>
              <div title='Complete Java MasterClass - updated for Java 10' class='bsc-title'> Complete Java MasterClass - updated for Java 10
              </div>
              <div class='bsc-desc'> udksvh idf idfji jioj oijg idjov dv djvo dvj ij vkd kfs fisrgh euhfif eri fiuh rfirfh irfji eri jeojf iejr
              </div>
            </div>
            <div class='flex flex-between flex-align-end'>
              <div>
                <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                </rating>
                <div class='rating-desc'> 4.7 (3,435 Ratings)
                </div>
              </div>
              <div class='bsc-reviews'> 43 Reviews
              </div>
            </div>
            <div class='absolute bsc-img'>
              <img src='assets/images/java.jpg'>
            </div>
          </div>
        </div>
        <div class='flex flex-col each-course'>
          <div class='courses-container flex-grow relative star-ratings flex-between flex flex-col'>
            <div>
              <div title='Complete Java MasterClass - updated for Java 10' class='bsc-title'> Complete Angular MasterClass - updated for Angular 6
              </div>
              <div class='bsc-desc'> udksvh idf idfji jioj oijg idjov dv djvo dvj ij vkd kfs fisrgh euhfif eri fiuh rfirfh irfji eri jeojf iejr
              </div>
            </div>
            <div class='flex flex-between flex-align-end'>
              <div>
                <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                </rating>
                <div class='rating-desc'> 4.7 (3,435 Ratings)
                </div>
              </div>
              <div class='bsc-reviews'> 43 Reviews
              </div>
            </div>
            <div class='absolute bsc-img'>
              <img src='assets/images/angular.png'>
            </div>
          </div>
        </div>
        <div class='flex flex-col each-course'>
          <div class='courses-container flex-grow relative star-ratings flex-between flex flex-col'>
            <div>
              <div title='Complete AWS MasterClass - updated for AWS Cloud' class='bsc-title'> Complete AWS MasterClass - updated for AWS
              </div>
              <div class='bsc-desc'> udksvh idf idfji jioj oijg idjov dv djvo dvj ij vkd kfs fisrgh euhfif eri fiuh rfirfh irfji eri jeojf iejr
              </div>
            </div>
            <div class='flex flex-between flex-align-end'>
              <div>
                <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                </rating>
                <div class='rating-desc'> 4.7 (3,435 Ratings)
                </div>
              </div>
              <div class='bsc-reviews'> 43 Reviews
              </div>
            </div>
            <div class='absolute bsc-img'>
              <img src='assets/images/aws.png'>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='mid-section flex flex-center flex-align-center' id='_courses'> We offer diverse courses
    </section>
    <section class='flex flex-col flex-align-center students-wrap'>
      <div class='top-section-txt-wrap flex flex-align-center'>
        <div class='full-width'>
          <div class='header-txt'> Conduct free classes for enthusiastic students </div>
          <div class='header-desc'>Explore the lorem ipsum of magna orci, cursus eu urna nec, ultricies venenatis ex. Maecenas tempus pharetra risus, eu porta arcu gravida vitae. Donec accumsan gravida leo eget lacinia. Vivamus eu tristique lorem, sed tincidunt velit. Aliquam malesuada neque et sapien malesuada placerat nec ut libero. Nullam egestas elementum tincidunt. In mattis ex eu nunc fringilla, at ornare ligula viverra. Mauris quis nibh eu massa mollis accumsan.</div>
        </div>
        <div>
          <img class='student-img' src='assets/icon/student.png'>
        </div>
      </div>
    </section>
    <section class='mid-section flex flex-center flex-align-center'> Enroll in our Live Projects & Workshops
    </section>
    <section class='top-section flex flex-col flex-align-center professional-wrap'>
      <div class='top-section-txt-wrap flex flex-align-center'>
        <div>
          <img class='working-img' src="assets/icon/working.gif">
        </div>
        <div class="full-width">
          <div class='header-txt'>Varied professional courses to enhance your skills</div>
          <div class='header-desc'>Explore the lorem ipsum of magna orci, cursus eu urna nec, ultricies venenatis ex. Maecenas tempus pharetra risus, eu porta arcu gravida vitae. Donec accumsan gravida leo eget lacinia. Vivamus eu tristique lorem, sed tincidunt velit. Aliquam malesuada neque et sapien malesuada placerat nec ut libero. Nullam egestas elementum tincidunt. In mattis ex eu nunc fringilla, at ornare ligula viverra. Mauris quis nibh eu massa mollis accumsan.</div>
        </div>
      </div>
    </section>
    <section class='mid-section flex flex-center flex-align-center'> Provision of Employee on Job Service
    </section>
    <section class='flex flex-center flex-col students-wrap about-wrap' id='_about'>
      <div>
        <div class='header-txt center'> About Us </div>
        <div class='about-desc'> We are a company with lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel arcu dignissim augue consequat fermentum. Sed aliquam quis nulla nec tempor. Fusce magna orci, cursus eu urna nec, ultricies venenatis ex. Maecenas tempus pharetra risus, eu porta arcu gravida vitae. Donec accumsan gravida leo eget lacinia. Vivamus eu tristique lorem, sed tincidunt velit. Aliquam malesuada neque et sapien malesuada placerat nec ut libero. Nullam egestas elementum tincidunt. In mattis ex eu nunc fringilla, at ornare ligula viverra. Mauris quis nibh eu massa mollis accumsan. Maecenas diam ipsum, eleifend et lacinia eu, venenatis sed ipsum. Nullam egestas elementum tincidunt. In mattis ex eu nunc fringilla, at ornare ligula viverra. Mauris quis nibh eu massa mollis accumsan.
        </div>
      </div>
    </section>
    <section class='flex flex-col best-selling-courses no-shrink'>
      <div class='sectional-header flex no-shrink'>User Reviews</div>
      <div class='flex flex-grow best-courses-wrap no-shrink'>
        <div class='flex flex-col each-course'>
          <div class='courses-container user-reviews flex-grow relative star-ratings flex-between flex flex-col'>
            <div>
              <div title='John Doe' class='bsc-title'> John Doe
              </div>
              <div class='bsc-desc'> LearnSkills is an amazing platform with learned and skilled experts readily available for any blockers. The timings are apt in spite of time zone differences with proper planning and educative classes. I'd definitely give a 5 star to LearnSkills.
              </div>
            </div>
            <div class='flex flex-between flex-align-end'>
              <div>
                <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                </rating>
                <div class='rating-desc'> Rated 5/5
                </div>
              </div>
            </div>
            <div class='absolute bsc-img'>
              <img src='assets/images/review.jpg'>
            </div>
          </div>
        </div>
        <div class='flex flex-col each-course'>
          <div class='courses-container user-reviews flex-grow relative star-ratings flex-between flex flex-col'>
            <div>
              <div title='John Doe' class='bsc-title'> John Doe
              </div>
              <div class='bsc-desc'> LearnSkills is an amazing platform with learned and skilled experts readily available for any blockers. The timings are apt in spite of time zone differences with proper planning and educative classes.
              </div>
            </div>
            <div class='flex flex-between flex-align-end'>
              <div>
                <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                </rating>
                <div class='rating-desc'> Rated 4/5
                </div>
              </div>
            </div>
            <div class='absolute bsc-img'>
              <img src='assets/images/review.jpg'>
            </div>
          </div>
        </div>
        <div class='flex flex-col each-course'>
          <div class='courses-container user-reviews flex-grow relative star-ratings flex-between flex flex-col'>
            <div>
              <div title='John Doe' class='bsc-title'> John Doe
              </div>
              <div class='bsc-desc'> LearnSkills is an amazing platform with learned and skilled experts readily available for any blockers. The timings are apt in spite of time zone differences with proper planning and educative classes. I'd definitely give a 5 star to LearnSkills.
              </div>
            </div>
            <div class='flex flex-between flex-align-end'>
              <div>
                <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                </rating>
                <div class='rating-desc'> Rated 5/5
                </div>
              </div>
            </div>
            <div class='absolute bsc-img'>
              <img src='assets/images/review.jpg'>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='flex flex-col flex-align-center contact-us' id='_contact'>
      <div class='top-section-txt-wrap flex flex-align-center'>
        <div class="full-width">
          <div class='header-txt'>Contact Us</div>
          <div class='contact-wrap'>
            <div class='each-contact flex flex-align-center flex-between'>
              <div class='contact-title'> Email :
              </div>
              <a href="mailto:hello@portal.com?Subject=Hello%20portal!" class='email-us contact-info'>hello@portal.com</a>
            </div>
            <div class='each-contact flex flex-between'>
              <div class='contact-title'> Address :
              </div>
              <div class='flex contact-info flex-col'>
                <div class='flex contact-info flex-end'>#123, 2nd Avenue, 5th Street,</div>
                <div class='flex contact-info flex-end'>Thompson's Layout</div>
                <div class='flex contact-info flex-end'>Bangalore - 560001</div>
              </div>
            </div>
            <div class='each-contact flex flex-align-center flex-between'>
              <div class='contact-title'> Call :
              </div>
              <div class='contact-info'>+91 98765 43210</div>
            </div>
          </div>
        </div>
      </div>
      <div class='absolute page-top' (click)="scrollTo('_top')">Back to top</div>
    </section>
    <footer class="page-footer flex flex-align-center flex-between">
      <div class="small-text"> Copyright © {{currentYear}} Portal, Inc. </div>
      <div>
        <a target="_blank"><img src="assets/icon/instagram-footer.svg" class="footer-logo-right"></a>
        <a target="_blank"><img src="assets/icon/twitter-footer.svg" class="footer-logo-right"></a>
        <a target="_blank"><img src="assets/icon/facebook-footer.svg" class="footer-logo-right"></a>
      </div>
    </footer>
  </div>
  <div class='absolute login-sidebar flex flex-col flex-center' [class.active]='sidebarState >= 1'>
    <div class='absolute flex flex-col flex-center front-face' [class.flip]='sidebarState>=2'>
      <div class='flex flex-end cross-btn' *ngIf='sidebarState==1' (click)='sidebarState=0;'>
        <img class='pointer close-login' height='32px' width='32px' src='assets/icon/cross-red.svg'>
      </div>
      <div class='flex flex-col flex-align-center scroll'>
        <div class='login-header'>
          <div>LOGIN</div>
          <div class='login-as-txt'>as</div>
        </div>
        <div class='flex flex-align-center flex-center'>
          <div class='flex flex-align-center login-as-wrap' (click)="loginAs = 'expert'">
            <div class='flex-align-center flex'>
              <img src='assets/icon/selected.svg' *ngIf="loginAs == 'expert'">
              <img src='assets/icon/unselected.svg' *ngIf="loginAs == 'student'">
            </div>
            <div class='selection-txt'> Expert
            </div>
          </div>
          <div class='flex flex-align-center login-as-wrap' (click)="loginAs = 'student'">
            <div class='flex-align-center flex'>
              <img src='assets/icon/selected.svg' *ngIf="loginAs == 'student'">
              <img src='assets/icon/unselected.svg' *ngIf="loginAs == 'expert'">
            </div>
            <div class='selection-txt'> Student
            </div>
          </div>
        </div>
        <div class='input'>
          <input type='text' placeholder='Email'>
        </div>
        <div class='input'>
          <input type='password' placeholder='Password'>
        </div>
        <div class='login-btn'> Login
        </div>
        <div class='forgot-password' (click)='sidebarState=2'> Create an account </div>
        <div class='forgot-password' (click)='sidebarState=3'> Forgot Password? </div>
        <div class='bottom-links-wrap flex flex-align-center flex-col flex-center'>
          <div class='small-text'> By logging in, you agree to our</div>
          <div class='small-text'><span (click)="popup='Terms and Conditions'; sidebarState = -1; " class='bold pointer'>Terms & Conditions</span> and <span class='bold pointer' (click)="popup='Privacy Policy'; sidebarState = -2; ">Privacy Policy</span></div>
        </div>
      </div>
    </div>
    <div class='absolute flex flex-col flex-center back-face' [class.flip]='sidebarState>=2'>
      <div class='flex back-btn' *ngIf='sidebarState>=2' (click)='sidebarState=1'>
        <img class='pointer' height='30px' width='30px' src='assets/icon/back-arrow.svg'>
      </div>
      <div *ngIf='sidebarState==2'>
        <div class='flex flex-col flex-align-center scroll'>
          <div class='login-header'> CREATE AN ACCOUNT
          </div>
          <div class='input'>
            <input type='text' placeholder='Full Name'>
          </div>
          <div class='input'>
            <input type='text' placeholder='Email'>
          </div>
          <div class='input'>
            <input type='text' placeholder='Contact Number'>
          </div>
          <div class='input'>
            <input type='password' placeholder='Password'>
          </div>
          <div class='login-btn'> Create
          </div>
        </div>
      </div>
      <div *ngIf='sidebarState==3'>
        <div class='flex flex-col flex-align-center scroll'>
          <div class='login-header'> FORGOT PASSWORD
          </div>
          <div class='input'>
            <input type='text' placeholder='Enter Email'>
          </div>
          <div class='login-btn'> Submit
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class='fixed overlay-bg' [class.active]='sidebarState' (click)='sidebarState=0;'></div>
</div>
<div class="fixed privacy-popup flex flex-col" *ngIf='sidebarState<0'>
  <div class="popup-header flex flex-between flex-align-center">
    <div>{{popup}}</div>
    <img (click)='sidebarState=0' class='pointer close-login' height='25px' width='25px' src='assets/icon/cross-white.svg'>
  </div>
  <div class='flex flex-col privacy-content'> {{popupText[popup]}}
  </div>
</div>
