.body-wrapper {
  height: 100vh;
  width: 100vw;
  perspective: 1000;
  overflow-x: hidden;
}

.header {
  min-height: 72px;
  background-color: #fdfdfd;
  box-shadow: 0 0 4px 0px rgba(0, 0, 15, 0.2);
  color: #444;
  padding: 10px 32px 10px 25px;
  flex-shrink: 0;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e4e4e4;
}

.header-links-wrap {
  flex-flow: wrap;
  align-items: right;
  padding-left: 20px;
  justify-content: flex-end;
}

.header-links {
  padding: 4px 0 4px 24px;
  cursor: pointer;
  transition: 0.4s ease;
  text-align: right;
  padding-top: 5px;
  font-size: 16px;
}

.header-links:hover {
  text-shadow: 0.3px 0;
}

.body-content {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.page-footer {
  background-color: #252728;
  color: #fff;
  min-height: 40px;
  padding: 10px 27px;
}

.footer-logo-right {
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

.footer-logo-right:hover {
  transform: translateY(-2px);
}

.small-text {
  font-size: 12px;
  padding: 3px 0;
}

.bold:hover {
  text-shadow: 0.2px 0;
}

.green-txt {
  color: #49b327;
  text-shadow: 0.1px 0;
}

.blue-txt {
  color: #3F51B5;
  text-shadow: 0.1px 0;
}

.red-txt {
  color: #ff000f;
  text-shadow: 0.1px 0;
}

.top-section-txt-wrap {
  width: 100%;
  padding: 5%;
  background: rgba(1, 74, 124, 0.9);
  flex-grow: 1;
}

.professional-wrap .top-section-txt-wrap {
  background: rgba(0, 0, 0, 0.45);
}

.students-wrap .top-section-txt-wrap {
  background: rgba(47, 100, 69, 0.5)
}

.header-txt {
  padding: 32px 18px;
  font-size: 36px;
  letter-spacing: 1px;
  color: #fff;
  flex-shrink: 0;
  text-shadow: 1px 1px rgba(55, 55, 55, 0.8);
  font-family: sans-serif;
  line-height: 1.2;
}

.mid-section {
  background: #fff;
  min-height: 18vh;
  padding: 5%;
  text-align: center;
  color: #3F51B5;
  background: url(../assets/images/header-background.png);
  background-size: cover;
  background-position: center;
  font-size: 32px;
  background-repeat: no-repeat;
}

.login-sidebar {
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0 4px 1px rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 440px;
  max-width: 100%;
  display: flex;
  perspective: 1000;
  transform-style: preserve-3d;
  flex-direction: column;
  opacity: 0.98;
  filter: grayscale(10%);
  transition: 0.32s ease;
  border-radius: 2px;
  background: #f8f8f8;
  font-weight: lighter;
  z-index: 2;
  transform: translateX(103%);
  padding: 70px 40px 24px;
}

.login-sidebar.active {
  transform: translateX(0%);
}

.close-login {
  transition: 0.3s ease;
}

.close-login:hover {
  transform: rotate(-90deg);
}

.full-height {
  height: 100%;
  overflow: auto;
}

.scroll {
  overflow: auto;
}

.login-header {
  font-size: 36px;
  padding-bottom: 20px;
  color: #383c50;
  text-align: center;
}

.input {
  width: 100%;
  margin-bottom: 27px;
  height: 36px;
  font-weight: normal;
}

.input input {
  height: 100%;
  width: 100%;
  font-size: 14px;
  outline: none;
  color: #444;
  background: #fff;
  padding: 3px 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  transition: 0.35s ease;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0);
}

.input input:hover,
.input input:focus {
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

input:hover,
input:focus {
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.login-btn {
  color: #3F51B5;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s ease;
  user-select: none;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 18px;
  margin-top: 10px;
  border: 1px solid #3F51B5;
  background: #fbfbfb;
}

.login-btn:hover {
  text-shadow: 0.2px 0;
  transform: scale(1.04);
}

.forgot-password {
  font-weight: normal;
  font-size: 15px;
  margin: 6px 0;
  cursor: pointer;
  color: #4659ba;
  transition: 0.3s ease;
  border-bottom: 0.5px solid #3F51B5AA;
  padding-bottom: 1px;
}

.forgot-password:hover {
  letter-spacing: 0.5px;
  text-shadow: 0.2px 0;
}

.bold {
  font-weight: normal;
  transition: 0.2s ease;
}

.bold:hover {
  text-shadow: 0.2px 0;
}

.small-text {
  font-size: 12px;
  padding: 5px 0;
}

.bottom-links-wrap {
  margin-top: 27px;
}

.fixed {
  position: fixed;
}

.overlay-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
  z-index: 1;
  transition: 0.3s ease;
  opacity: 0;
}

.active.overlay-bg {
  opacity: 1;
  pointer-events: all;
}

.cross-btn {
  position: absolute;
  top: 29px;
  right: 0px;
}

.back-btn {
  position: absolute;
  transform: rotate(180deg);
  top: 29px;
  left: 0px;
  transition: 0.2s ease;
}

.back-btn:hover {
  transform: rotate(180deg) translateX(3px);
}

.header-desc {
  padding: 14px 5% 32px;
  line-height: 1.5;
  font-size: 17px; // text-align: justify;
}

.front-face {
  top: 0px;
  bottom: 0;
  left: 40px;
  transition: 0.4s ease;
  right: 40px;
  backface-visibility: hidden;
}

.front-face.flip {
  transform: rotateY(180deg);
  z-index: 10;
}

.back-face {
  top: 0px;
  bottom: 0;
  left: 40px;
  transition: 0.4s ease;
  right: 40px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.back-face.flip {
  transform: rotateY(0deg);
  z-index: 10;
}

.privacy-popup {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70vw;
  margin: auto;
  height: 66vh;
  z-index: 6;
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  max-width: 1080px;
  max-height: 767px;
}

.popup-header {
  min-height: 52px;
  background: #132790;
  color: #fff;
  font-size: 17px;
  padding: 12px 12px 12px 20px;
}

.privacy-content {
  flex-grow: 1;
  overflow: auto;
  padding: 30px;
  font-family: sans-serif;
  white-space: pre-line;
  text-align: justify;
  line-height: 1.4;
  letter-spacing: 0.2px;
  font-size: 13px;
}

.students-wrap {
  position: relative;
  color: #fff;
  flex-shrink: 0;
  background: url(../assets/images/denim.jpg) no-repeat;
  min-height: 57vh;
  &.about-wrap {
    background: url(../assets/images/shaded.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    .header-txt {
      font-style: inherit;
      font-style: initial;
      font-family: sans-serif;
    }
  }
  background-size: cover;
  background-position: center;
  .header-desc {
    padding: 0px 18px 32px;
    text-shadow: 0.2px 0.2px #888;
  }
}

.about-desc {
  font-size: 17px;
  line-height: 1.5;
  padding: 10px 36px 48px;
  text-align: justify;
  column-count: 2;
  column-gap: 60px;
  margin: auto;
  max-width: 1000px;
  @media screen and (max-width: 767px) {
    column-count: 1;
  }
}

.working-img {
  height: 24vh;
  min-width: 100px;
  margin-bottom: 40px;
}

.student-img {
  animation: bounce 2.4s infinite;
  animation-timing-function: ease;
  min-width: 100px;
  max-width: 330px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}

.no-padding {
  padding: 0;
}

.transition {
  transition: 0.35s ease;
  .header-txt {
    font-size: 40px;
  }
}

.top-section {
  position: relative;
  flex-shrink: 0;
  background: url(../assets/images/circuit.jpg) no-repeat;
  min-height: 57vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  &.professional-wrap {
    background: url(../assets/images/blur.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    .header-desc {
      padding: 0px 18px 32px;
    }
  }
}

.fixed-bg {
  background-attachment: fixed;
  @media screen and (max-width: 767px) {
    background-attachment: intial;
    background-attachment: scroll;
  }
}

.contact-us {
  position: relative;
  flex-shrink: 0;
  background: url(../assets/images/white-texture.jpg);
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  color: #3F51B5;
  .top-section-txt-wrap {
    background: rgba(0, 0, 0, 0.0);
  }
  .header-txt {
    color: #3F51B5;
    text-align: center;
    text-shadow: none;
  }
}

.contact-title {
  font-weight: normal;
  text-shadow: 0.2px 0;
  font-size: 17px;
  padding-right: 16px;
  white-space: nowrap;
}

.contact-wrap {
  padding: 4px 20px 4px;
  max-width: 767px;
  margin: 6px auto 32px;
  border-radius: 4px;
  background: rgba(88, 104, 140, 0.12);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.each-contact {
  padding: 12px 0;
}

.contact-info {
  line-height: 1.5;
  font-size: 18px;
  text-align: right;
}

.email-us.contact-info {
  text-shadow: 0.2px 0;
  transition: 0.2s ease;
  font-weight: normal;
  border-bottom: 1px solid #3F51B500;
  cursor: pointer;
  line-height: 1.4;
  color: #3F51B5;
  text-decoration: none;
}

.email-us.contact-info:hover {
  border-bottom: 1px solid #3F51B5;
  opacity: 1;
}

.page-top {
  left: 50%;
  transition: 0.2s ease;
  bottom: 12px;
  transform: translateX(-50%);
  border-bottom: 1px solid #3F51B5;
  padding-bottom: 1px;
  font-size: 12px;
  cursor: pointer;
}

.page-top:hover {
  letter-spacing: 0.5px;
}

.right-chevron {
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.left-chevron {
  left: 24px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  cursor: pointer;
  z-index: 1;
}

.right-chevron img,
.left-chevron img {
  height: 16px;
  width: 12px;
}

.header-logo {
  font-size: 24px;
  margin-right: 40px;
  .dark-grey {
    color: #555;
  }
}

.login-as-wrap {
  margin: 0 14px 24px;
  cursor: pointer;
  user-select: none;
  img {
    margin-right: 8px;
    transition: 0.3s ease;
  }
}

.login-as-txt {
  font-size: 20px;
  line-height: 12px;
  padding-top: 12px;
}

.zero-opacity {
  opacity: 0;
}

.main-ip {
  margin: auto;
  max-width: 530px;
  min-height: 36px;
  display: flex;
  flex-direction: column;
  input {
    flex-grow: 1;
    padding: 4px 12px;
    border-radius: 2px;
    border: 1px solid #cecece;
  }
}

section.best-selling-courses {
  min-height: calc(43vh - 72px);
  padding: 22px 0px;
  background: rgba(1, 74, 124, 0.12);
  border: 1px solid #25578120;
}

.sectional-header {
  font-size: 18px;
  color: #3F51B5;
  padding: 0 36px;
  text-shadow: 0.2px 0;
}

.best-courses-wrap {
  padding: 16px 18px 6px;
  justify-content: center;
}

.each-course {
  width: 33.33%;
  padding: 6px 18px;
  max-width: 400px;
  min-height: 200px;
}

.courses-container {
  padding: 12px 16px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(70, 127, 166, 0.8);
  color: #fff;
}

.bsc-title {
  line-height: 1.5;
  color: #fff;
  margin-bottom: 12px;
  overflow: hidden;
  font-size: 15px;
  text-shadow: 0.2px 0 #fff;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bsc-desc {
  line-height: 1.5;
  color: #fff;
  font-size: 12px;
  text-shadow: 0.2px 0 #fff;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.bsc-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.rating-desc {
  margin-top: 4px;
  font-size: 12px;
  text-shadow: 0.2px 0 #fff;
}

.bsc-reviews {
  font-size: 12px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  text-shadow: 0.2px 0 #fff;
}

.user-reviews.courses-container {
  background: rgba(1, 74, 124, 0.7);
}

.vibration {
  animation: shake 0.299s ease;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0px);
  }
  25%,
  75% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
}
