<div class='flex flex-col body-wrapper relative'>
  <header class='header flex flex-align-center flex-between'>
    <img height='32px' src='assets/icon/portal-logo.png'>
    <div class='flex flex-align-center header-links-wrap'>
      <div class='header-links' (click)="scrollTo('_courses')"> Courses
      </div>
      <div class='header-links' (click)="scrollTo('_about')"> About Us
      </div>
      <div class='header-links' (click)="scrollTo('_contact')"> Contact Us
      </div>
      <div class='header-links blue-txt' (click)='sidebarState=1;'> Login
      </div>
    </div>
  </header>
  <div class='body-content relative flex flex-col'>
    <section class='top-section flex flex-col flex-align-center fixed-bg' id='_top'>
      <div class='top-section-txt-wrap flex flex-col flex-center no-padding hide-overflow'>
        <div class='flex flex-align-center transition' [ngStyle]="{'transform': 'translateX(' + -100 * percent + '%)'}">
          <div class='header-txt full-width center'>Explore Your Potential</div>
          <div class='header-txt full-width center'>Get Expertised </div>
          <div class='header-txt full-width center'>Reach Your limits</div>
        </div>
        <div class='header-desc center'>Explore the lorem ipsum of magna orci, cursus eu urna nec, ultricies venenatis ex. Maecenas tempus pharetra risus, eu porta arcu gravida vitae. Donec accumsan gravida leo eget lacinia. Vivamus eu tristique lorem, sed tincidunt velit. Aliquam malesuada neque et sapien malesuada placerat nec ut libero.</div>
      </div>
    </section>
    <section class='mid-section flex flex-center flex-align-center'> We offer diverse courses
    </section>
    <section class='flex flex-col flex-align-center students-wrap' id='_courses'>
      <div class='top-section-txt-wrap flex flex-align-center'>
        <div class='full-width'>
          <div class='header-txt'> Conduct free classes for enthusiastic students </div>
          <div class='header-desc'>Explore the lorem ipsum of magna orci, cursus eu urna nec, ultricies venenatis ex. Maecenas tempus pharetra risus, eu porta arcu gravida vitae. Donec accumsan gravida leo eget lacinia. Vivamus eu tristique lorem, sed tincidunt velit. Aliquam malesuada neque et sapien malesuada placerat nec ut libero. Nullam egestas elementum tincidunt. In mattis ex eu nunc fringilla, at ornare ligula viverra. Mauris quis nibh eu massa mollis accumsan.</div>
        </div>
        <div>
          <img class='student-img' src='assets/icon/student.png'>
        </div>
      </div>
    </section>
    <section class='mid-section flex flex-center flex-align-center'> Enroll in our Live Projects & Workshops
    </section>
    <section class='top-section flex flex-col flex-align-center professional-wrap'>
      <div class='top-section-txt-wrap flex flex-align-center'>
        <div class="full-width">
          <div class='header-txt'>Varied professional courses to enhance your skills</div>
          <div class='header-desc'>Explore the lorem ipsum of magna orci, cursus eu urna nec, ultricies venenatis ex. Maecenas tempus pharetra risus, eu porta arcu gravida vitae. Donec accumsan gravida leo eget lacinia. Vivamus eu tristique lorem, sed tincidunt velit. Aliquam malesuada neque et sapien malesuada placerat nec ut libero. Nullam egestas elementum tincidunt. In mattis ex eu nunc fringilla, at ornare ligula viverra. Mauris quis nibh eu massa mollis accumsan.</div>
        </div>
        <div>
          <img class='working-img' src="assets/icon/working.gif">
        </div>
      </div>
    </section>
    <section class='mid-section flex flex-center flex-align-center'> Provision of Employee on Job Service
    </section>
    <section class='flex flex-center flex-col students-wrap about-wrap' id='_about'>
      <div>
        <div class='header-txt center'> About Us </div>
        <div class='about-desc'> We are a company with lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel arcu dignissim augue consequat fermentum. Sed aliquam quis nulla nec tempor. Fusce magna orci, cursus eu urna nec, ultricies venenatis ex. Maecenas tempus pharetra risus, eu porta arcu gravida vitae. Donec accumsan gravida leo eget lacinia. Vivamus eu tristique lorem, sed tincidunt velit. Aliquam malesuada neque et sapien malesuada placerat nec ut libero. Nullam egestas elementum tincidunt. In mattis ex eu nunc fringilla, at ornare ligula viverra. Mauris quis nibh eu massa mollis accumsan. Maecenas diam ipsum, eleifend et lacinia eu, venenatis sed ipsum. Nullam egestas elementum tincidunt. In mattis ex eu nunc fringilla, at ornare ligula viverra. Mauris quis nibh eu massa mollis accumsan.
        </div>
      </div>
    </section>
    <section class='flex flex-col flex-align-center contact-us' id='_contact'>
      <div class='top-section-txt-wrap flex flex-align-center'>
        <div class="full-width">
          <div class='header-txt'>Contact Us</div>
          <div class='contact-wrap'>
            <div class='each-contact flex flex-align-center flex-between'>
              <div class='contact-title'> Email :
              </div>
              <a href="mailto:hello@portal.com?Subject=Hello%20portal!" class='email-us contact-info'>hello@portal.com</a>
            </div>
            <div class='each-contact flex flex-between'>
              <div class='contact-title'> Address :
              </div>
              <div class='flex contact-info flex-col'>
                <div class='flex contact-info flex-end'>#123, 2nd Avenue, 5th Street,</div>
                <div class='flex contact-info flex-end'>Thompson's Layout</div>
                <div class='flex contact-info flex-end'>Bangalore - 560001</div>
              </div>
            </div>
            <div class='each-contact flex flex-align-center flex-between'>
              <div class='contact-title'> Call :
              </div>
              <div class='contact-info'>+91 98765 43210</div>
            </div>
          </div>
        </div>
      </div>
      <div class='absolute page-top' (click)="scrollTo('_top')">Back to top</div>
    </section>
    <footer class="page-footer flex flex-align-center flex-between">
      <div class="small-text"> Copyright © {{currentYear}} Portal, Inc. </div>
      <div>
        <a target="_blank"><img src="assets/icon/instagram-footer.svg" class="footer-logo-right"></a>
        <a target="_blank"><img src="assets/icon/twitter-footer.svg" class="footer-logo-right"></a>
        <a target="_blank"><img src="assets/icon/facebook-footer.svg" class="footer-logo-right"></a>
      </div>
    </footer>
  </div>
  <div class='absolute login-sidebar flex flex-col flex-center' [class.active]='sidebarState >= 1'>
    <div class='absolute flex flex-col flex-center front-face' [class.flip]='sidebarState>=2'>
      <div class='flex flex-end cross-btn' *ngIf='sidebarState==1' (click)='sidebarState=0;'>
        <img class='pointer close-login' height='32px' width='32px' src='assets/icon/cross-red.svg'>
      </div>
      <div class='flex flex-col flex-align-center scroll'>
        <div class='login-header'> LOGIN
        </div>
        <div class='input'>
          <input type='text' placeholder='Email'>
        </div>
        <div class='input'>
          <input type='password' placeholder='Password'>
        </div>
        <div class='login-btn'> Login
        </div>
        <div class='forgot-password' (click)='sidebarState=2'> Create an account </div>
        <div class='forgot-password' (click)='sidebarState=3'> Forgot Password? </div>
        <div class='bottom-links-wrap flex flex-align-center flex-col flex-center'>
          <div class='small-text'> By logging in, you agree to our</div>
          <div class='small-text'><span (click)="popup='Terms and Conditions'; sidebarState = -1; " class='bold pointer'>Terms & Conditions</span> and <span class='bold pointer' (click)="popup='Privacy Policy'; sidebarState = -2; ">Privacy Policy</span></div>
        </div>
      </div>
    </div>
    <div class='absolute flex flex-col flex-center back-face' [class.flip]='sidebarState>=2'>
      <div class='flex back-btn' *ngIf='sidebarState>=2' (click)='sidebarState=1'>
        <img class='pointer' height='30px' width='30px' src='assets/icon/back-arrow.svg'>
      </div>
      <div *ngIf='sidebarState==2'>
        <div class='flex flex-col flex-align-center scroll'>
          <div class='login-header'> CREATE AN ACCOUNT
          </div>
          <div class='input'>
            <input type='text' placeholder='First Name'>
          </div>
          <div class='input'>
            <input type='text' placeholder='Last Name'>
          </div>
          <div class='input'>
            <input type='text' placeholder='Email'>
          </div>
          <div class='input'>
            <input type='text' placeholder='Contact Number'>
          </div>
          <div class='input'>
            <input type='password' placeholder='Password'>
          </div>
          <div class='input'>
            <input type='password' placeholder='Re Enter Password'>
          </div>
          <div class='login-btn'> Create
          </div>
        </div>
      </div>
      <div *ngIf='sidebarState==3'>
        <div class='flex flex-col flex-align-center scroll'>
          <div class='login-header'> FORGOT PASSWORD
          </div>
          <div class='input'>
            <input type='text' placeholder='Enter Email'>
          </div>
          <div class='login-btn'> Submit
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class='fixed overlay-bg' [class.active]='sidebarState' (click)='sidebarState=0;'></div>
</div>
<div class="fixed privacy-popup flex flex-col" *ngIf='sidebarState<0'>
  <div class="popup-header flex flex-between flex-align-center">
    <div>{{popup}}</div>
    <img (click)='sidebarState=0' class='pointer close-login' height='25px' width='25px' src='assets/icon/cross-white.svg'>
  </div>
  <div class='flex flex-col privacy-content'> {{popupText[popup]}}
  </div>
</div>
