.body-wrapper {
  height: 100vh;
  width: 100vw;
  perspective: 1000;
}

.header {
  min-height: 90px;
  background-color: #fff;
  box-shadow: 0 0 4px 0px rgba(0, 0, 15, 0.2);
  color: #444;
  padding: 10px 32px 10px 25px;
  flex-shrink: 0;
  border-radius: 3px;
  background: url(../assets/imgs/header-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1px;
}

.header-links-wrap {
  flex-flow: wrap;
  align-items: right;
  padding-left: 20px;
  justify-content: flex-end;
}

.header-links {
  padding: 4px 0 4px 24px;
  cursor: pointer;
  transition: 0.4s ease;
  text-align: right;
  padding-top: 5px;
  font-size: 16px;
}

.header-links:hover {
  text-shadow: 0.3px 0;
}

.body-content {
  height: 100%;
  overflow: auto;
}

.page-footer {
  background-color: #252728;
  color: #fff;
  min-height: 40px;
  padding: 10px 27px;
}

.footer-logo-right {
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

.footer-logo-right:hover {
  transform: translateY(-2px);
}

.small-text {
  font-size: 12px;
  padding: 3px 0;
}

.bold:hover {
  text-shadow: 0.2px 0;
}

.top-section {
  position: relative;
  color: #fff;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: url(../assets/icon/circuit.jpg) no-repeat;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.green-txt {
  color: #49b327;
  text-shadow: 0.1px 0;
}

.blue-txt {
  color: #0039ff;
  text-shadow: 0.1px 0;
}

.red-txt {
  color: #ff000f;
  text-shadow: 0.1px 0;
}

.top-section-txt-wrap {
  width: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.4);
  flex-grow: 1;
}

.header-txt {
  padding: 32px 18px;
  font-size: 36px;
  font-style: italic;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px rgba(55, 55, 55, 0.8);
  text-transform: capitalize;
  font-family: monospace;
}

.mid-section {
  background: #fff;
  min-height: 25vh;
  padding: 5%;
  text-align: center;
  color: #0039ff;
  background: url(../assets/imgs/header-background.png);
  background-size: cover;
  background-position: center;
  font-size: 30px;
  font-family: monospace;
  background-repeat: no-repeat;
}

.login-sidebar {
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0 4px 1px rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 440px;
  max-width: 100%;
  display: flex;
  perspective: 1000;
  transform-style: preserve-3d;
  flex-direction: column;
  opacity: 0.98;
  filter: grayscale(10%);
  transition: 0.32s ease;
  border-radius: 2px;
  background: #f8f8f8;
  font-weight: lighter;
  z-index: 2;
  transform: translateX(103%);
  padding: 70px 40px 24px;
}

.login-sidebar.active {
  transform: translateX(0%);
}

.close-login {
  transition: 0.3s ease;
}

.close-login:hover {
  transform: rotate(-90deg);
}

.full-height {
  height: 100%;
  overflow: auto;
}

.scroll {
  overflow: auto;
}

.login-header {
  font-size: 36px;
  padding-bottom: 32px;
  color: #383c50;
  text-align: center;
}

.input {
  width: 100%;
  margin-bottom: 27px;
  height: 36px;
  font-weight: normal;
}

.input input {
  height: 100%;
  width: 100%;
  font-size: 14px;
  outline: none;
  color: #444;
  background: #fff;
  padding: 3px 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  transition: 0.35s ease;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0);
}

.input input:hover,
.input input:focus {
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.login-btn {
  color: #0039ff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s ease;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 18px;
  margin-top: 10px;
  border: 1px solid #0039ff;
  background: #fbfbfb;
}

.login-btn:hover {
  text-shadow: 0.2px 0;
  transform: scale(1.04);
}

.forgot-password {
  font-weight: normal;
  font-size: 15px;
  margin: 6px 0;
  cursor: pointer;
  color: #383c50;
  transition: 0.3s ease;
  border-bottom: 0.5px solid #0039ffaa;
  padding-bottom: 1px;
}

.forgot-password:hover {
  letter-spacing: 0.5px;
  text-shadow: 0.2px 0;
}

.bold {
  font-weight: normal;
  transition: 0.2s ease;
}

.bold:hover {
  text-shadow: 0.2px 0;
}

.small-text {
  font-size: 12px;
  padding: 5px 0;
}

.bottom-links-wrap {
  margin-top: 27px;
}

.fixed {
  position: fixed;
}

.overlay-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 1;
  transition: 0.3s ease;
  opacity: 0;
}

.active.overlay-bg {
  opacity: 1;
  pointer-events: all;
}

.cross-btn {
  position: absolute;
  top: 29px;
  right: 0px;
}

.back-btn {
  position: absolute;
  transform: rotate(180deg);
  top: 29px;
  left: 0px;
  transition: 0.2s ease;
}

.back-btn:hover {
  transform: rotate(180deg) translateX(3px);
}

.front-face {
  top: 0px;
  bottom: 0;
  left: 40px;
  transition: 0.4s ease;
  right: 40px;
  backface-visibility: hidden;
}

.front-face.flip {
  transform: rotateY(180deg);
}

.back-face {
  top: 0px;
  bottom: 0;
  left: 40px;
  transition: 0.4s ease;
  right: 40px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.back-face.flip {
  transform: rotateY(0deg);
}